{% extends 'base.html' %}
{% block content %}
<style>
  /* Style for card */
  .job-card {
    background-color: #C7C5C0;
    border-radius: 1rem;
    margin-right: 10px; /* Add margin to separate cards */
  }
/* Style for button */
.btn {
  background-color: #94949C;
  margin-right: 10px; /* Add margin to the right of each button */
  margin-bottom: 10px; /* Add margin below each button */
}
.card-text{
  font-size:22px;
}
.btn-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
</style>
<div class="container py-1">
  <div class="row justify-content-center align-items-center">
    <h1 class="my-3 text-center text-white">Newly Added Job Description</h1>
    <!-- First Card -->
    <div class="col-md-8 mb-4">
      <div class="card job-card p-2">
        <div class="card-body py-2">
          <h3 class="card-title py-2">Title| {{ job.Title }}</h3>
          <hr>
          <h3 class="card-text py-2">Job Description:</h3> <p>{{ job.Description }}</p>
          <h3 class="card-text py-2">Required Skills:</h3> <p>{{ job.Required_Skills }}</p>
          <div class="btn-row py-2">
          <a href="/rjob/{{ job.Job_id }}" class="btn p-2" style="background-color: #94949C; font-size:22px;">Rank Resumes for this Job Description</a>
          <a href="/batch_rjob/{{ job.Job_id }}" class="btn p-2" style="background-color: #94949C; font-size:22px;">Rank the uploaded Resumes for this Job Description</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}