{% extends 'base.html' %}
{% block content %}
<style>
  /* Style for card */
  .job-card {
    background-color: #C7C5C0;
    border-radius: 1rem;
    margin-right: 10px; /* Add margin to separate cards */
  }
/* Style for button */
.btn {
  background-color: #94949C;
  margin-right: 10px; /* Add margin to the right of each button */
  margin-bottom: 10px; /* Add margin below each button */
}
</style>
<div class="container py-5">
  <div class="row justify-content-center align-items-center">
    <!-- First Card -->
    <div class="col-md-6 mb-4">
      <div class="card job-card">
        <div class="card-body">
          <h3 class="card-title">{{ job.Title }}</h3>
          <p class="card-text">{{ job.Description }}</p>
          <p class="card-text">{{ job.Required_Skills }}</p>
          <a href="/rjob/{{ job.Job_id }}" class="btn" style="background-color: #94949C;>Rank Resumes for this Job Description</a>
          <a href="/batch_rjob/{{ job.Job_id }}" class="btn" style="background-color: #94949C;>Rank the uploaded Resumes for this Job Description</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}