{% extends 'base.html' %}    
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FAQ</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://kit.fontawesome.com/2d991706ce.js" crossorigin="anonymous"></script>
    </head>
<!--Section: FAQ-->
  <section style="background-color: #C7C5C0; color: #383838;  margin-left:30px; margin-right:30px; padding:10px; border-radius:10px;">
    <h3 class="text-center mb-4 pb-2 fw-bold pt-3 mt-3">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fa-solid fa-paper-plane  pe-2" ></i> What is a resume analyzer ?
        </h6>
        <p>
        The Resume Analyzer is an automated system that extracts relevant information from a job seeker's resume and provides feedback based on the job requirements.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-pen-alt text pe-2"></i> How does the resume analyzer tool work?
        </h6>
        <p>
           It matches the resume's content and identifies the skills, education, experience, and other important information required for a job
          account. 
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-user text pe-2"></i> How do I upload my resume to the analyzer tool?
        </h6>
        <p>
          The user will have to create an account and upload the resume for the desired jobs.The candidate resume should be in pdf, rtf or docx format.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-rocket text pe-2"></i> Can the resume analyzer tool help my resume for specific job positions or industries?

        </h6>
        <p>
          Yes you can apply to various positions by adding your resumes in this tool.

        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-home text pe-2"></i> 
          Is there any data privacy or security to protect my information when using the tool?
          
        </h6>
         Resumes which have been uploaded are safe and the data will be only shared with the organization not with others.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-book-open text pe-2"></i> In which format should I upload  my resume?
        </h6>
        <p>
          our system will be accepting the candidate resume in pdf, rtf or docx format.
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->
</html>
{% endblock content %}
