{% extends 'base.html' %}    
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FAQ</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://kit.fontawesome.com/2d991706ce.js" crossorigin="anonymous"></script>
    </head>
<!--Section: FAQ-->
<section style="background-color: #C7C5C0; color: #383838;  ">
    <h3 class="text-center mb-4 pb-2 fw-bold pt-3 mt-3">FAQ</h3>
    <p class="text-center mb-5">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fa-solid fa-paper-plane  pe-2" ></i> A simple
          question?</h6>
        <p>
          <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
          your
          safety and
          security. All billing information is stored on our payment processing partner.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-pen-alt text pe-2"></i> A question
          that
          is longer then the previous one?</h6>
        <p>
          <strong><u>Yes, it is possible!</u></strong> You can cancel your subscription anytime in
          your
          account. Once the subscription is
          cancelled, you will not be charged next month.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-user text pe-2"></i> A simple
          question?
        </h6>
        <p>
          Currently, we only offer monthly subscription. You can upgrade or cancel your monthly
          account at any time with no further obligation.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-rocket text pe-2"></i> A simple
          question?
        </h6>
        <p>
          Yes. Go to the billing section of your dashboard and update your payment information.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-home text pe-2"></i> A simple
          question?
        </h6>
        <p><strong><u>Unfortunately no</u>.</strong> We do not issue full or partial refunds for any
          reason.</p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text"><i class="fas fa-book-open text pe-2"></i> Another
          question that is longer than usual</h6>
        <p>
          Of course! We’re happy to offer a free plan to anyone who wants to try our service.
        </p>
      </div>
    </div>
  </section>
  <!--Section: FAQ-->
</html>
{% endblock content %}
