{% extends 'base.html' %}    
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    {% comment %} top container containing two cards {% endcomment %}
    <div class="container-md my-5" >
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card" style="border-radius: 10px; background-color: #C7C5C0;">
                <div class="card-body" >
                  <h2 class="card-title">Analyze Your Resume</h2>
                  <p class="card-text">Are you looking for job? want to analyze and know the rank of your resume? Then click on Candidate login.</p>
                  <a href="{% url "userview" %}" class="btn btn-lg p-2" style="background-color: #94949C;" >I am a Candidate!</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card" style="border-radius: 10px; background-color: #C7C5C0;">
                <div class="card-body">
                  <h2 class="card-title">Find Candidates for a Position</h2>
                  <p class="card-text">Are you looking for suitable candidates for your job description? Click on HR login to find matching resumes with your requirements.</p>
                  <a href="{% url "hrview" %}" class="btn btn-lg p-2" style="background-color: #94949C;">I am a Recruiter!</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    {% comment %} lower container for about us {% endcomment %}
    <div class='container-md'>
    
    </div>
</html>
{% endblock content %}