{% extends 'base.html' %}
{% block content%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Job New Description</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    .form-group{
        padding-top: 10px;
        padding-bottom: 15px;
    } </style>
</head>

<section>
   
        <div class="row d-flex justify-content-center align-items-center py-2">
            <div class="col-7 justify-content-center align-items-center">
                <H1 class="py-1 text-white text-center">Add a New Job Description</H1>
                <div class="card justify-content-center align-items-center py-3 px-0" style="border-radius: 1rem; background-color: #C7C5C0; border-radius: 1rem;">
                    <div class="col-md-6 col-lg-10 d-flex align-items-center">
                        <div class="card-body p-1 p-lg-2 text-black">
                            <form action="/hr_jd/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="job_title">Job Title</label>
                                        <input type="text" class="form-control" id="job_title" name="job_title"
                                            placeholder="Enter the job title">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="job_description">Job Description</label>
                                        <textarea class="form-control" id="job_description" name="job_description"
                                            rows="3" placeholder="Enter job description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="requirements">Skills Required</label>
                                        <textarea class="form-control" id="requirements" name="requirements"
                                            rows="2" placeholder="Enter required skills"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <p>You can also add a group of resumes for ranking</p>
                                <div class="form-group">
                                    <label class="custom-file-label p-1" for="files">Choose files</label>
                                    <input type="file" class="custom-file-input" id="files" name="files" multiple>
                                </div>
                                <button type="submit" class="btn btn-primary py-2">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  
</section>


</html>
{% endblock content%}