{% extends 'base.html' %}
{% block content%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Job New Description</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <style>
    .form-group{
        padding-top: 10px;
        padding-bottom: 15px;
    } </style>
</head>

<section>
   
        <div class="row d-flex justify-content-center align-items-center py-5">
            <div class="col-8 justify-content-center align-items-center">
                <div class="card justify-content-center align-items-center" style="border-radius: 1rem; background-color: #C7C5C0; border-radius: 1rem;">
                        <H1 class="py-3">Add a New Job Description</H1>
                    <div class="col-md-6 col-lg-10 d-flex align-items-center">
                    
                        <div class="card-body p-4 p-lg-5 text-black">

                            <form action="/hr_jd/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="job_title">Job Title</label>
                                        <input type="text" class="form-control" id="job_title" name="job_title"
                                            placeholder="Enter the job title">
                                    </div>
                                    {% comment %} <div class="form-group">
                                        <label for="department">Department</label>
                                        <select class="form-control" id="department" name="department">
                                            <option value="engineering">Engineering</option>
                                            <option value="sales">Sales</option>
                                            <option value="marketing">Marketing</option>
                                            <option value="human_resources">Human Resources</option>
                                        </select>
                                    </div> {% endcomment %}
                                    {% comment %} <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" class="form-control" id="location" name="location"
                                            placeholder="Enter the job location">
                                    </div> {% endcomment %}
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="job_description">Job Description</label>
                                        <textarea class="form-control" id="job_description" name="job_description"
                                            rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="requirements">Skills Required</label>
                                        <textarea class="form-control" id="requirements" name="requirements"
                                            rows="5"></textarea>
                                    </div>
                                </div>
                                <br>
                                <h3>Want to rank your own list of resumes!</h3>
                                <div class="form-group">
                                    <input type="file" class="custom-file-input" id="files" name="files" multiple>
                                    <label class="custom-file-label p-2" for="files">Choose files</label>
                                </div>
                                {% comment %} <div class="form-group">
                                    <label for="skillset">Fields to be extracted</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="skill1" name="skillset[]"
                                            value="skill1">
                                        <label class="form-check-label" for="skill1">Name</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="skill2" name="skillset[]"
                                            value="skill2">
                                        <label class="form-check-label" for="skill2">Email</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="skill3" name="skillset[]"
                                            value="skill3">
                                        <label class="form-check-label" for="skill3">Contact No.</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="skill1" name="skillset[]"
                                            value="skill1">
                                        <label class="form-check-label" for="skill1">Education</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="skill2" name="skillset[]"
                                            value="skill2">
                                        <label class="form-check-label" for="skill2">Skills</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="skill3" name="skillset[]"
                                            value="skill3">
                                        <label class="form-check-label" for="skill3">Qualities</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="experience">Experience</label>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="experience1" name="experience"
                                            value="less_than_a_year">
                                        <label class="form-check-label" for="experience1">Less than a year</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="experience2" name="experience"
                                            value="one_to_three_years">
                                        <label class="form-check-label" for="experience2">One to three years</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" id="experience3" name="experience"
                                            value="more_than_three_years">
                                        <label class="form-check-label" for="experience3">More than three years</label>
                                    </div>
                                </div> {% endcomment %}

                                <button type="submit" class="btn btn-primary py-2">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
  
</section>


</html>
{% endblock content%}