{% extends 'base.html' %}
{% block content %}
    <style>
        /* Custom CSS styles can be added here */
        .job-card {
            margin: 10px;
            background-color: #C7C5C0;
            border-radius: 1rem;
        }
        .card-title {
            color: #333;
            font-weight: bold;
        }
        .card-text {
            color: #555;
        }
        .btn {
            background-color: #94949C;
            color: #fff;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #777;
        }
    </style>
    <div class="container justify-content-center">
        <h1 class="h1 font-weight-bold text-center my-4" style="color: white;">Job Descriptions</h1>
        <div class="row">
            {% for job in jobs %}
            <div class="col-md-4">
                <div class="card job-card">
                    <div class="card-body">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <p class="card-text">{{ job.description }}</p>
                        <p><strong>Company:</strong> {{ job.company_name }}</p>
                <p><strong>Category:</strong> {{ job.category }}</p>
                <p><strong>Description:</strong> {{ job.description }}</p>
                <p><strong>Tags:</strong> {% for tag in job.tags %}<span>{{ tag }}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p><strong>Job Type:</strong> {{ job.job_type }}</p>
                <p><strong>Publication Date:</strong> {{ job.publication_date }}</p>
                <p><strong>Candidate Required Location:</strong> {{ job.candidate_required_location }}</p>
                <p><strong>Salary:</strong> {{ job.salary }}</p>
                        <a href="{{ job.url }}" class="btn">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
