{% extends 'base.html' %}
{% block content %}
<style>
    /* Center align table content */
    .result-table {
        text-align: center;
        background-color: #C7C5C0; /* Apply card background color to the table */
        border-radius: 1rem; /* Add border radius to the table */
        padding: 20px; /* Add padding to the table */
    }
/* Style for card */
.custom-card {
    background-color: #C7C5C0;
    border-radius: 1rem;
    padding: 20px;
    margin-bottom: 20px;
}

/* Style for table content */
.table-content {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
</style>
<div class="container py-1">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
            <!-- Center-aligned heading above the card -->
            <h1 class="my-5 text-center text-white">Resume Ranking Results For {{ job.Title }}</h1>
            <div class="custom-card ">
                <div class="table-content py-3 px-3">
                    <h2>Job Title: </h2> <p>{{ job.Title }}<p>
                    <h2>Job Description: </h2> <p>{{ job.Description }}<p>
                    <h2>Required Skills: </h2> <p>{{ job.Required_Skills }}<p>
                </div>
                <div class="row justify-content-center align-items-center py-3 px-3">
                    <div class="col-md-12 py-3">
                        {% if resumes %}
                            <table class="result-table table table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Skills</th>
                                        <th>Matched Percent with job description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for resume in resumes %}
                                        <tr>
                                            <td>{{ resume.name }}</td>
                                            <td>{{ resume.email }}</td>
                                            <td>{{ resume.extracted_skills }}</td>
                                            <td>{{ resume.percent_matched }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="text-center">No resume records found for this job description.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}